input[type='checkbox'] {
  accent-color: #00785b;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.flex-items-center{
  display: flex;
  align-items: center;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.no-data-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4f6f6;
  color: #808080;
  border-radius: 20px;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.button__outline-full{
  width: 100%;
  border: 1px solid #B1B1B1;
  border-radius: 9999px;
  padding: 8px 0px;
  font-size: 14px;
}