html,
body,
#app {
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100vw;
  height: 54px;
  border-bottom: 1px solid #cacaca;
  font-size: 16px;
}

nav {
  width: 295px;
  height: calc(100vh - 54px);
  border-right: 1px solid #cacaca;
  position: fixed;
  top: 54px;
  left: 0;
}

main {
  overflow-y: scroll;
  height: calc(100vh - 54px);
  .home-meeting-bg {
    height: 200px;
    width: 100vw;
    background-color: #ddd;
  }
}
@media (min-width: 1024px) {
  main {
    width: calc(100vw - 295px);
    padding: 60px 90px;
    margin-left: 295px;
    .home-main {
      margin: 0 auto;
      width: calc(100vw - 295px);
      max-width: 840px;
    }
    .home-meeting-bg {
      margin: -60px -90px;
    }
  }
}
@media (min-width: 800px) {
  main {
    padding: 60px 90px;
    .home-meeting-bg {
      margin: -40px;
    }
  }
}
@media (min-width: 500px) {
  main {
    padding: 40px;
    .home-meeting-bg {
      margin: -40px;
    }
  }
}
@media (max-width: 500px) {
  main {
    padding-top: 20px;
    .home-meeting-bg {
      margin-top: -20px;
    }
    .home-main {
      padding: 0;
    }
  }
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

hr {
  color: #d9d9d9;
}

.login {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 450px;
  flex-direction: column;
  margin: 0 auto;
  padding: 28px;
  .login-logo-area {
    align-self: baseline;
    padding-bottom: 76px;
    img {
      object-fit: none;
      padding-left: 5px;
    }
    p {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    pre {
      color: #9b9b9b;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 8px;
    }
  }
}

.board-box {
  border: 1px solid #c7c7c7;
  padding: 28px;
  border-radius: 20px;
  .board-area {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    h4 {
      text-align: left;
      font-weight: 700;
      margin-bottom: 10px;
    }
    span {
      font-size: 14px;
      text-align: left;
    }
  }

  .user-area {
    display: flex;
    justify-content: space-between;
  }
}

.user-info {
  display: flex;
  align-items: center;
  .profile {
    background-color: #ddd;
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  .text {
    text-align: left;
    display: grid;
    p {
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
      margin-bottom: 2px;
    }
    span {
      font-size: 10px;
      color: #a9a9a9;
      line-height: 10px;
    }
  }
}

.user-info.big {
  .profile {
    width: 46px;
    height: 46px;
    border-radius: 25px;
  }
  .text {
    p {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 6px;
    }
    span {
      font-size: 10px;
      line-height: 10px;
    }
  }
}

.chat-btn {
  display: flex;
  align-items: center;
  border: 1px solid #076e49;
  border-radius: 20px;
  padding: 5px 10px;
  span {
    color: #076e49;
    font-size: 10px;
    line-height: 10px;
  }
}

.vote-box {
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  padding: 28px 28px 0px 28px;
  .option-box {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
    .checkbox-area {
      width: 30px;
    }
  }

  .vote-option-box {
    display: grid;
    grid-template-columns: 60px 1fr;
    .img {
      background-color: #ddd;
      width: 60px;
      height: 60px;
      border-radius: 20px;
    }
    .option-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      font-size: 12px;
      padding-left: 16px;
      p {
        font-size: 16px;
        font-weight: 600;
      }
      span {
        color: #7d7d7d;
        font-size: 10px;
        line-height: 10px;
      }
      a {
        color: #7d7d7d;
        font-size: 10px;
        line-height: 10px;
        margin-left: 10px;
        text-decoration: underline;
      }
    }
  }
  .vote-submit-area {
    border-top: 1px solid #cecece;
    margin: 0px -28px;
    padding: 10px 0px;
    color: #7d7d7d;
    margin-top: 40px;
  }
}

.vote-box.active {
  .vote-submit-area {
    color: #fff;
    background-color: #00785b;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.font-green-info {
  color: #00785b;
  font-size: 14px;
}



.comment-area {
  .title {
    color: #00785b;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
  }
  .comment {
    padding: 20px 4px;
    div {
      font-size: 14px;
    }
    .user {
      display: grid;
      grid-template-columns: 60px 1fr 24px;
      align-items: center;
      min-height: 24px;
      margin-bottom: 4px;
      p {
        font-weight: 600;
        font-size: 14px;
      }
      span {
        color: #a9a9a9;
        font-size: 12px;
        font-weight: 12px;
      }
    }
  }
}

.green-outline-btn {
  border: 1px solid #076e49;
  color: #076e49;
  font-size: 12px;
  font-weight: 600;
  border-radius: 9999px;
}

.meeting-list {
  .meeting-list__box{
    border-radius: 20px;
    background-color: #f4f6f6;
    height: 240px;
    min-height: 240px;
    border: 1px solid #D9D9D9;
    .meeting-list__box__thumb {
      height: 170px;
      img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    .meeting-list__box__content {
      background-color: #fff;
      padding: 10px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 68px;
      .meeting-list__box__content-detail{
        p {
          width: 100%;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: -4px;
        }
        span {
          margin-right: 5px;
          font-size: 12px;
          color: #6A6A6A;
        }
      }
    }
  }
}

.path_navi {
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 14px;
  margin-bottom: 10px;
}

label.form-label {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}

.basic-form{
  h2{
    margin-bottom: 12px;
    margin-top: 40px;
  }
  p {
    color: #000;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin-top: 48px;
    margin-bottom: 16px;
  }
  p.mt-2{
    margin-top: 8px;
  }
  label{
    font-size: 14px;
    padding-left: 4px;
    margin-right: 20px
  }
  label.bold{
    font-size: 16px;
    font-weight: 500;
  }
  span{
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  input[type='checkbox'] {
    width: 15px;
    height: 15px;
  }
  input[type='checkbox'].bold{
    width: 18px;
    height: 18px;
  }
  input[type='text']{
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 40px;
    padding-left: 8px;
  }
  input[type='text'].basic__form_underline-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 42px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
  }
  input[type='text'].vote_option_input::before {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0rem;
    content: "";
  }
  textarea {
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    width: 100%;
    min-height: 90px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
  }
  article{
    display: grid;
    grid-template-columns: 28px 152px 1fr;
    align-items: center;
    margin-bottom: 8px;
    span{
      color: #7E7E7E;
      font-size: 14px;
      margin-top: 0;
    }
    .basic-form__vote-end-date{
      font-weight: 300;
      font-size: 14px;
      display: flex;
      align-items: center;
    }
  }
  .button__outline-full{
    margin-top: 8px;
  }
  .button__outline-full.primary{
    border: 1px solid #076E49;
    color: #076E49;
    margin-top: 48px;
  }
}

.svg-image{
  width: 20px;
  height: 16px;
}

.vote-form__option{
  display: flex;
  margin-top: 8px;
  align-items: center;
  input[type='text']{
    border: none;
    outline: none;
  }
  .vote-form__option__gallery-icon{
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

.vote-form__option:focus:active{
  border: 1px solid #00785b;
}